<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container" ng-controller="ToBuyShoppingController as tobuy_ctrl">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6">
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in tobuy_ctrl.to_buy">{{item.name}}: {{item.quantity}}
          <button class="btn btn-default" ng-click="tobuy_ctrl.removeItem($index);";>
            <span class="glyphicon glyphicon-ok"></span> Bought</button></li>
     </ul>
     <div class="emptyMessage" ng-if="tobuy_ctrl.to_buy.length">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtShoppingController as bought_ctrl">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in bought_ctrl.bought">{{item.name}}: {{item.quantity}}</li>
     </ul>
     <div class="emptyMessage" ng-if="bought_ctrl.bought.length">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
